<div class="hero h-[125] bg-base-200">
	<div class="hero-content text-center flex items-center justify-center">
		<span
			(click)="navigateBack()"
			class="material-symbols-outlined absolute left-4 class btn btn-error text-2xl text-white hover:bg-error-content/90"
			>arrow_back</span
		>
		<div class="max-w-md mx-auto">
			<h1 class="text-5xl font-bold">Liste des factures de client:</h1>
		</div>

		<button
			class="btn btn-error text-white absolute right-4"
			(click)="logout()"
		>
			Déconnexion
		</button>
	</div>
</div>

<app-send-email-dialog
	*ngIf="isDialogToggled"
	(close)="handleDialog()"
	[facture]="selectedFacture!"
/>

<ng-container *ngIf="factureService.factureData$ | async as factureState">
	<app-facture-table
		[factures]="factureState.appData?.data?.['factures']!"
		(openDialog)="handleDialog($event)"
	/>
</ng-container>
