<div class="hero h-[125] bg-base-200">
	<div class="hero-content text-center">
		<h1 class="text-5xl font-bold">Liste des clients</h1>
		<button
			class="btn btn-error text-white absolute right-4"
			(click)="logout()"
		>
			Déconnexion
		</button>
	</div>
</div>

<ng-container *ngIf="clientsService.clientsState$| async as clientState">
	<app-client-table [clients]="clientState.appData!">
		<div class="flex items-center mb-4">
			<!-- Search Box -->
			<button
				class="ml-4 btn-primary text-white px-4 py-2 rounded"
				(click)="toggleFilterOptions()"
			>
				Filter
			</button>

			<div class="flex items-center">
				<div class="relative">
					<input
						type="text"
						class="px-3 py-2 pr-10 rounded border w-[300px]"
						placeholder="Chercher par nom ou email..."
						[(ngModel)]="searchTerm"
						(keyup)="search()"
					/>
					<span
						class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
					>
						<svg
							class="w-5 h-5 text-gray-400"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							stroke="currentColor"
							viewBox="0 0 24 24"
						>
							<path d="M21 21l-4.35-4.35"></path>
							<circle cx="10" cy="10" r="8"></circle>
						</svg>
					</span>
				</div>
			</div>
		</div>
	</app-client-table>
</ng-container>

<ng-container *ngIf="showFilterOptions">
	<app-filter-clients-dialog
		(close)="toggleFilterOptions()"
		(filterClients)="filterClients($event)"
	/>
</ng-container>
