<div class="p-4">
	<ng-content></ng-content>

	<table
		*ngIf="factures.length > 0; else noFacturesTemplate"
		class="min-w-full border rounded"
	>
		<thead class="bg-gray-50">
			<tr>
				<ng-container
					*ngFor="let column of tableColumns; trackBy: trackByFnColumn"
				>
					<th
						class="py-3 px-2 text-left font-semibold border-r border-b text-sm"
					>
						<div class="flex flex-row items-center">
							<span class="material-symbols-outlined">{{ column.icon }}</span>
							{{ column.name }}
						</div>
					</th>
				</ng-container>
			</tr>
		</thead>
		<tbody class="bg-white divide-y divide-gray-200">
			<tr *ngFor="let facture of factures; trackBy: trackByFnFacture">
				<td class="py-3 px-4 border-r">#{{ facture.id }}</td>
				<td class="py-3 px-4 border-r">
					{{ facture.client.nom }} {{ facture.client.prenom }}
				</td>
				<td class="py-3 px-4 border-r">
					{{ facture.montant | currency : "TND" }}
				</td>
				<td class="py-3 px-4 border-r">
					{{ facture.dateFacture[0] }}/{{ facture.dateFacture[1] }}/{{
						facture.dateFacture[2]
					}}
				</td>
				<td class="py-3 px-4 border-r">
					{{ facture.dateEcheance[0] }}/{{ facture.dateEcheance[1] }}/{{
						facture.dateEcheance[2]
					}}
				</td>
				<td class="py-3 px-4 border-r">{{ facture.description }}</td>

				<td
					class="btn btn-primary py-3 px-4 border-r text-white"
					(click)="onOpenDialog(facture)"
				>
					Envoyer Mail
				</td>
			</tr>
		</tbody>
	</table>

	<ng-template #noFacturesTemplate>
		<p class="text-6xl">Ce client n'as aucune facture!</p>
	</ng-template>
</div>
