<div class="card w-max h-max bg-info-content text-neutral-content shadow-xl">
  <div class="card-body space-y-3.5">
    <h2 class="card-title">{{ client.nom }} {{ client.prenom }}</h2>
    <p>{{ client.email }}</p>
    <div class="card-actions justify-center">
      <button class="btn" (click)="navigateToFactures(client.id)">Voir Factures</button>
    </div>

    <div class="border border-white"></div>

    <div class="flex justify-evenly">
      <span class="material-symbols-outlined">
      call
      </span>
      <span class="material-symbols-outlined">
        mail
      </span>
    </div>
  </div>
</div>
